---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Let's have ze fun!</h1>
    <canvas class="zdog-canvas" width="240" height="240"></canvas>

    <script>
      import Zdog from "zdog";

      let isSpinning = false;
      let illo = new Zdog.Illustration({
        element: ".zdog-canvas",
        zoom: 1,
        dragRotate: true,
        onDragStart() {
          isSpinning = false;
        },
      });

      const anchor = new Zdog.Anchor({
        addTo: illo,
        rotate: {
          x: Zdog.TAU / 10,
          y: -(Zdog.TAU / 10),
        },
      });

      const backboard = new Zdog.Rect({
        addTo: anchor,
        width: 80,
        height: 120,
        stroke: 8,
        color: "#333",
        fill: false,
      });

      const backboardFill = new Zdog.Rect({
        addTo: backboard,
        width: 72,
        height: 112,
        stroke: 8,
        color: "#fff",
        fill: true,
      });

      function animate() {
        if (isSpinning) {
          illo.rotate.y += 0.03;
        }
        illo.updateRenderGraph();
        requestAnimationFrame(animate);
      }

      animate();

      // update & render
      illo.updateRenderGraph();
    </script>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
